/* -------------------------------
   BUTTON COMPONENT
------------------------------- */
.cbo-button,
input[type="submit"] {
  background: $colororange;
  color: $colorwhite;
  height: 3.75rem;
  padding: 0 1.625rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;

  &.button--white{
    background: $colorwhite;
    color: $colororange;
  }
}