/* -------------------------------
CONTAINER MICRO COMPONENT
------------------------------- */
.cbo-container {
  margin: 4.375rem auto;
  max-width: 87.5rem;
  padding: 0 1.25rem;
  position: relative;
  width: 100%;

  &.container--nomargin{
    margin: 0 auto;
  }
  &.container--padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4.375rem;
    padding-bottom:4.375rem;
  }
  &.container--small{
    max-width: 68.125rem;
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
  .cbo-container {
    margin: 6.25rem auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &.container--padding {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
    }
  }
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-container {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
  }
}