@import "../../../src/scss/partials/variables";

/* -------------------------------
TEXT COMPONENT
------------------------------- */
.cbo-text{
    &.text--small{
        .cbo-container{
            max-width: 68.125rem;
        }
    }
    &.text--black{
        .text-inner{
            .cbo-cms{
                background: $colorblack url(../../img/texture.jpg) repeat-x;
                background-size: contain;
                color: $colorwhite;
                padding: 2.5rem 1.25rem;
            }
        }
    }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
    .cbo-text{
        &.text--black{
            .text-inner{
                .cbo-cms{
                    padding: 3.75rem 1.875rem;
                }
            }
        }
    }
}